* {
    position: absolute;
}
body {
    margin: 0px;
    background-color: black;
}
/* Shooting Star */
.shooting-star {
    width: 30px;
    height: 3px;
    margin-left: 10px;
    margin-top: 300px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    transform: rotate(-20deg);
    animation-name: shooting-star;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes shooting-star {
    from {margin-left: 1100px; margin-top: 30px;}
    to {margin-right: 0px;}
}
/* Stars */
.star-2 {
    width: 3px;
    height: 3px;
    margin-left: 200px;
    margin-top: 300px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
}
.star-3 {
    width: 8px;
    height: 8px;
    margin-left: 350px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.star-4 {
    width: 3px;
    height: 3px;
    margin-left: 500px;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
}
.star-5 {
    width: 8px;
    height: 8px;
    margin-left: 700px;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: .5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.star-6 {
    width: 3px;
    height: 3px;
    margin-left: 630px;
    margin-top: 200px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.star-7 {
    width: 3px;
    height: 3px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
}
.star-8 {
    width: 8px;
    height: 8px;
    margin-left: 900px;
    margin-top: 300px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.star-9 {
    width: 4px;
    height: 4px;
    margin-left: 20px;
    margin-top: 250px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
}
.star-10 {
    width: 3px;
    height: 3px;
    margin-left: 250px;
    margin-top: 200px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: .5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.star-11 {
    width: 2px;
    height: 2px;
    margin-left: 700px;
    margin-top: 280px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
}
.star-12 {
    width: 3px;
    height: 3px;
    margin-left: 1050px;
    margin-top: 80px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.star-1 {
    width: 8px;
    height: 8px;
    margin-left: 100px;
    margin-top: 100px;
    background-color: white;
    box-shadow: 0px 0px 20px 4px white;
    border-radius: 50%;
    animation-name: blinking;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blinking {
    from {box-shadow: 0px 0px 20px 4px white;}
    to {box-shadow: 0px 0px 0px 0px white;}
}
/* Antenna */
.straw1 {
    width: 20px;
    height: 180px;
    margin-left: 300px;
    margin-top: 50px;
    background-color: rgb(0, 119, 6);
    transform: rotate(-35deg);
}
.tip1 {
    width: 60px;
    height: 60px;
    margin-left: 235px;
    margin-top: 50px;
    border-radius: 50%;
    background-color: rgb(0, 77, 4);
    /* box-shadow: 0px 0px 50px rgba(49, 187, 36, 0.747); */
}
.straw2 {
    width: 20px;
    height: 180px;
    margin-left: 580px;
    margin-top: 50px;
    background-color: rgb(0, 119, 6);
    transform: rotate(35deg);
}
.tip2 {
    width: 60px;
    height: 60px;
    margin-left: 600px;
    margin-top: 50px;
    border-radius: 50%;
    background-color: rgb(0, 77, 4);
    /* box-shadow: 0px 0px 50px rgba(49, 187, 36, 0.747); */
}
/* body */
.body {
    width: 300px;
    height: 450px;
    margin-left: 300px;
    margin-top: 150px;
    background-color: rgb(34, 204, 0);
    border-radius: 200px 200px 0px 0px;
}
/* moon */
.moon {
    width: 200px;
    height: 200px;
    background-color: rgb(238, 250, 215);
    border-radius: 50%;
    margin-left: 800px;
    margin-top: 20px;
    box-shadow: 20px 2px 100px 1px rgba(255,255,255,0.44);
}
.moon:hover {
    box-shadow: 20px 2px 50px 1px rgba(255, 255, 255, 0.897);
}
.half-moon {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.911);
    border-radius: 50%;
    margin-left: 750px;
    margin-top: 30px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.87);
}
.half-moon:hover {
    transform: translateX(-80px);
    transition: ease-in-out 4s;
}
/* eye 1 */
.outer-eye1 {
    background-color: rgb(0, 121, 6);
    width: 170px;
    height: 170px;
    margin-left: 370px;
    margin-top: 190px;
    border-radius: 50%;
}
.eye1 {
    background-color: white;
    width: 150px;
    height: 150px;
    margin-left: 380px;
    margin-top: 200px;
    border-radius: 50%;
}
.inner-eye1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 406px;
    margin-top: 225px;
    background-color: rgb(0, 54, 3);
    box-shadow: 0px 0px 10px;
}
.pupil1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 450px;
    margin-top: 240px;
    background-color: white;
    animation-name: eye-movement;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* eye 2 */
.outer-eye2 {
    background-color: white;
    width: 110px;
    height: 110px;
    margin-left: 400px;
    margin-top: 380px;
    border-radius: 50%;
    z-index: 1;
}
.eye2 {
    background-color:  rgb(0, 121, 6);
    width: 130px;
    height: 130px;
    margin-left: 390px;
    margin-top: 370px;
    border-radius: 50%;
}
.inner-eye2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 420px;
    margin-top: 400px;
    background-color: rgb(0, 54, 3);
    z-index: 1;
    box-shadow: 0px 0px 10px;
}
.pupil2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 450px;
    margin-top: 410px;
    z-index: 1;
    background-color: white;
    animation-name: eye-movement;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes eye-movement {
    from {margin-left: 430px;}
    to {margin-left: 460px;}
}
/* mouth */
.inside {
    width: 90px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-top: 510px;
    margin-left: 420px;
    box-shadow: 0px 4px 3px 2px;
}
.tooth {
    width: 20px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    margin-top: 525px;
    margin-left: 460px;
    z-index: 1;
    border-radius: 0px 0px 110px 110px;
}
.top-mouth {
    width: 130px;
    height: 30px;
    background-color: rgb(34, 204, 0);
    margin-top: 510px;
    margin-left: 410px;
    z-index: 1;
}