@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
header {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
ol li {
    text-decoration: none;
    letter-spacing: 2px;
    text-decoration-style: none;
    margin: auto;
}
li:hover {
    transform: scale(1.05);
}
#rules {
    background-color: rgb(221, 221, 255);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
#scores {
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 10px;
}
button {
    width: 100px;
    color: white;
    background-color:rgb(255, 115, 115);
    margin-top: 20px;
}
button:active {
    transform: scale(1.1);
    color: black;
}
button:focus {
    outline: none;
}