@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #d8d8d8;
}

/* Global */
.container { 
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
#form-btn {
    height: 25px;
    width: 60px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

/* Header */
header {
    padding-top: 30px;
    min-height: 65px;
    width: 100%;
    background: #35424a;
    color: #ffeaea;
    border-bottom: #e8491d 3px solid;
    position: fixed;
    
}
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;

}
header #branding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 10px;
    border-left: #cccccc 1px solid;
}
header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}
header a:hover {
    color: #e8491d;
    font-weight: bold;
}

/* search bar */
#search {
    width: 100%;
    background-color: #e0623f;
    padding: 5px;
}
#search-box {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
}
#search-btn {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
    background-color: #676b6d;
    cursor: pointer;
}
#search-btn:hover {
    background-color: rgb(100, 98, 98);
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: linear-gradient(#1dcae844, #be46012d), url('https://images.pexels.com/photos/3324591/pexels-photo-3324591.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat fixed 50%;
    padding-top: 170px;
    color: #ffeaea;
    text-align: center;
}
#showcase h1 {
    font-size: 35px;
}
#showcase p {
    font-size: 20px;
}

/* Boxes */
#boxes {
    text-align: center;
    background-color: #35424a;
    /* width: 90%; */
    /* margin: 15px auto; */
    /* border-radius: 8px; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.815);
}
#boxes .container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}
.box img {
    width: 100%;
    height: auto;

}
.container .box {
    background-color: #e0623f8f;
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.925);
    padding: 5px;
    margin: 10px;
}

/* Form */
#newsletter {
    background-color: #e0623f;
    padding: 15px;
    margin: auto;
}
#newsletter h1, h5 {
    text-align: center;
    /* line-height: 10px; */
}
#newsletter h1 {
    font-size: 30px;
}
#newsletter form {
    margin-left: 10%;
}
.checkbox {
    font-size: 10px;
}
#newsletter input[type="text"] {
    height: 20px;
}
#newsletter input[type="email"] {
    height: 20px;
}


/* Pre footer */
#pre-footer {
    padding: 15px;
    background-color: #35424ac9;
    color: white;
    text-align: center;
}
#pre-footer li {
    display: inline;
    margin: 5px;
}
#pre-footer nav {
    position: static;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px;
    width: 70%;
    margin: auto; /* centered the element within div */
}
#pre-footer a {
    text-decoration: none;
    color: white;
}

#pre-footer a:hover {
    color: #e0623f;
}

/* Footer */
footer p {
    text-align: center;
    background-color: #35424a;
    color: white;
    margin: 0;
    padding: 7px;
    font-size: 10px;
}

@media only screen and (max-width: 600px) {
    #boxes .container {
        display: block;
    }
    #pre-footer a {
        /* border-left: 1px solid white;
        border-right: 1px solid white;
        padding: 3px; */
        display: block;
    }
    header li {
        display: block;
        float: left;
        width: 100%;
    }
    #showcase {
        padding-top: 200px;
    }
    nav {
        margin-bottom: 10px;
    }
}