@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    margin: 0;
    background-color: black;
}
#clock {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 30px 30px 40px 30px;
    font-size: 60px;
    color: rgb(255, 1, 43);
    width: 400px;
    max-height: 200px;
    border: 8px solid rgb(127, 255, 127);
    border-radius: 5px;
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18;
    margin: auto;
    margin-top: 200px;
}

#date {
    font-family:  'Orbitron', sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top: -45px;
}